@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-social-icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
  color: #38b2ac;
  margin-right: .5rem;
  opacity: .5;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: .025em;
  margin-bottom: 1rem;
}
